{
   "property-id" "tag:staff@noreply.openkim.org,2015-05-26:property/unstable-twinning-fault-relaxed-energy-fcc-crystal-npt"

   "property-title" "Relaxed unstable twinning energy for a monoatomic fcc crystal at zero temperature and a given pressure"

   "property-description" "The relaxed unstable twinning energy (UTE) for a monoatomic fcc crystal at a zero temperature and a specified pressure. The UTE corresponds to the energy barrier for rigidly slipping one part of an infinite crystal on a {111} plane adjacent to a preexisting intrinsic stacking fault relative to the other part along a <112> direction (fcc partial dislocation direction). Relaxation of the atomic coordinates is performed perpendicular to the fault plane."

   "a" {
       "type"         "float"
       "has-unit"     true
       "extent"       []
       "required"     true
       "description"  "Zero-temperature, equilibrium conventional lattice constant of the fcc crystal consistent with the specified pressure."
   }

   "species" {
       "type"         "string"
       "has-unit"     false
       "extent"       [":"]
       "required"     true
       "description"  "The element symbol of the fcc crystal material. This should contain only a single entry."
   }

   "cauchy-stress" {
      "type"         "float"
      "has-unit"     true
      "extent"       [6]
      "required"     true
      "description"  "The [xx,yy,zz,yz,xz,xy] (i.e. [11,22,33,23,13,12]) components of the Cauchy stress acting on the crystal.  The orthonormal basis used to express the stress should be aligned with the cubic 4-fold axes of the ideal crystal and the expected form of the stress tensor should be [d d d 0 0 0], where d > 0 indicates tensile stress."
   }

   "unstable-slip-fraction" {
       "type"         "float"
       "has-unit"     false
       "extent"       []
       "required"     false
       "description"  "The relative displacement in the 1/6<112> direction between the two crystal parts where the energy is maximum. The slip is normalized by the partial dislocation Burgers vector a0/sqrt(6). The slip is measured from an ideal fault-free structure. At a value of 1.0, an intrinsic stacking fault is formed. Therefore 'unstable-slip-fraction' must be between 1.0 and 2.0."
   }

   "unstable-twinning-energy" {
       "type"         "float"
       "has-unit"     true
       "extent"       []
       "required"     true
       "description"  "Relaxed unstable twinning energy in units of energy per area."
   }
}
