{
  "property-id"           "tag:tadmor@noreply.openkim.org,2017-02-01:property/verification-check"
  "property-title"        "Universal verification check property"
  "property-description"  "Verification checks are designed to explore basic model characteristics and conformance to the KIM API standard. Results from verification checks are reported in the standardized form defined in this property definition."
  "vc-name" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "A short name describing the verification check."
  }
  "vc-description" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "A short explanation of the intent of the verification check and what it does."
  }
  "vc-category" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "The verification check category. There are three possibilities: `informational', `consistency', and `mandatory'. Informational verification checks provide useful information about the model that have no implications regarding its internal consistency. Consistency verification checks test for violations of internal consistency (e.g. the forces are not the negative gradient of the energy). Mandatory verification checks test for failures of a model to satisfy critical KIM API requirements or declared capabilities (such as supporting a specified species)."
  }
  "vc-grade-basis" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "Each verification check returns a grade indicating how well the test was passed.  The type of grade returned is defined by the vc-grade-basis. There are two options: `graded' and `passfail'. A `graded' verification check returns a letter grade `A', `B', `C', `D' or `F' (where `A' is best, and `F' indicated failure). A `passfail' verification check returns `P' for pass, or `F' for fail. In situations where the verification check could not be performed, a value of `N/A' (for not available) must be returned."
  }
  "vc-grade" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "The verification check grade as defined by vc-grade-basis."
  }
  "vc-files" {
    "type"         "file"
    "has-unit"     false
    "extent"       [":"]
    "required"     false
    "description"  "A list of one or more files generated by the VC.  For example, these can be data files of results or graphic figures."
  }
  "vc-comment" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     false
    "description"  "Text generated by the verification check to accompany the grade and explain its meaning.  Additional information to explain or qualify the result can be included."
  }
}
