{
  "property-id" "tag:staff@noreply.openkim.org,2014-04-15:property/configuration-nonorthogonal-periodic-3d-cell-fixed-particles-relaxed"

  "property-title" "Static minimization of non-orthogonal periodic cell with fixed cell vectors (cell fixed, particles fixed)"

  "property-description" "Energy (and, optionally, forces and stresses) of a non-orthogonal periodic cell of particles at zero absolute temperature in an unrelaxed configuration and a corresponding relaxed configuration.  The particle positions are allowed to change in the course of relaxation, but the periodic cell vectors are held fixed."

  "species" {
    "type"         "string"
    "has-unit"     false
    "extent"       [":"]
    "required"     true
    "description"  "The element symbol for each particle."
  }
  "unrelaxed-periodic-cell-vector-1" {
    "type"         "float"
    "has-unit"     true
    "extent"       [3]
    "required"     true
    "description"  "The [x,y,z] components of periodic cell vector 1 in the unrelaxed configuration.  Note that periodic cell vector 1, periodic cell vector 2, and periodic cell vector 3 must form a right-handed triad."
  }
  "unrelaxed-periodic-cell-vector-2" {
    "type"         "float"
    "has-unit"     true
    "extent"       [3]
    "required"     true
    "description"  "The [x,y,z] components of periodic cell vector 2 in the unrelaxed configuration.  Note that periodic cell vector 1, periodic cell vector 2, and periodic cell vector 3 must form a right-handed triad."
  }
  "unrelaxed-periodic-cell-vector-3" {
    "type"         "float"
    "has-unit"     true
    "extent"       [3]
    "required"     true
    "description"  "The [x,y,z] components of periodic cell vector 3 in the unrelaxed configuration.  Note that periodic cell vector 1, periodic cell vector 2, and periodic cell vector 3 must form a right-handed triad."
  }
  "unrelaxed-cauchy-stress" {
    "type"         "float"
    "has-unit"     true
    "extent"       [6]
    "required"     false
    "description"  "The [xx,yy,zz,yz,xz,xy] (i.e. [11,22,33,23,13,12]) components of the Cauchy stress conjugate to the shape of the periodic cell in the unrelaxed configuration."
  }
  "unrelaxed-configuration-positions" {
    "type"         "float"
    "has-unit"     true
    "extent"       [":",3]
    "required"     true
    "description"  "The [x,y,z] coordinates of each particle in the unrelaxed configuration.  Corresponds to the initial guess used in the minimization."
  }
  "unrelaxed-configuration-forces" {
    "type"         "float"
    "has-unit"     true
    "extent"       [":",3]
    "required"     false
    "description"  "The [x,y,z] components of the force on each particle in the unrelaxed configuration."
  }
  "unrelaxed-potential-energy" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "The potential energy of the unrelaxed configuration."
  }
  "relaxed-cauchy-stress" {
    "type"         "float"
    "has-unit"     true
    "extent"       [6]
    "required"     false
    "description"  "The [xx,yy,zz,yz,xz,xy] (i.e. [11,22,33,23,13,12]) components of the Cauchy stress conjugate to the shape of the periodic cell in the relaxed configuration.  These should be zero.  The deviation is an indication of the accuracy of the relaxation."
  }
  "relaxed-configuration-positions" {
    "type"         "float"
    "has-unit"     true
    "extent"       [":",3]
    "required"     true
    "description"  "The [x,y,z] coordinates of each particle in the relaxed configuration."
  }
  "relaxed-configuration-forces" {
    "type"         "float"
    "has-unit"     true
    "extent"       [":",3]
    "required"     false
    "description"  "The [x,y,z] components of the force on each particle in a relaxed configuration.  These should be zero.  The deviation is an indication of the accuracy of the relaxation."
  }
  "relaxed-potential-energy" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "The potential energy of the relaxed configuration."
  }
}
