{
  "property-id" "tag:staff@noreply.openkim.org,2014-08-21:property/melting-temperature-constant-pressure-cubic-crystal"
  
  "property-title" "Melting temperature of a cubic crystal structure at a given hydrostatic stress"

  "property-description" "Melting temperature of a cubic crystal structure at a given hydrostatic stress.  This is the temperature at which the crystal and liquid are in thermal equilibrium."

  "short-name" {
    "type"         "string"
    "has-unit"     false
    "extent"       [":"]
    "required"     false
    "description"  "Short name defining the cubic crystal type at initialization."
  }
  "species" {
    "type"         "string"
    "has-unit"     false
    "extent"       [":"]
    "required"     true
    "description"  "The element symbols of the basis atoms.  The order in which the species are specified must correspond to the order of the atoms listed in 'basis-atom-coordinates'."
  }
  "a" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "Average equilibrium conventional lattice constant of the cubic crystal at the melting temperature under the given hydrostatic conditions."
  }
  "basis-atom-coordinates" {
    "type"         "float"
    "has-unit"     false
    "extent"       [":",3]
    "required"     true
    "description"  "Fractional coordinates of the initial basis atoms in the conventional unit cell.  If the unit cell vectors are denoted by <a>, <b>, and <c>, and the fractional coordinates of atom 'i' are [afrac_i, bfrac_i, cfrac_i], the value of 'basis-atom-coordinates' will be of the form [[afrac_1 bfrac_1 cfrac_1] [afrac_2 bfrac_2 cfrac_2] ... ].  All components of each basis atom should be between zero and one, inclusive of zero."
  }
  "space-group" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     false
    "description"  "Hermann-Mauguin designation for the space group associated with the symmetry of the crystal (e.g. Immm, Fm-3m, P6_3/mmc)."
  }
  "wyckoff-multiplicity-and-letter" {
    "type"         "string"
    "has-unit"     false
    "extent"       [":"]
    "required"     false
    "description"  "Multiplicity and standard letter of Wyckoff sites (e.g. 4a, 2b) needed to generate the starting cubic crystal lattice.  The order of elements in this array must correspond to the order of the entries listed in 'wyckoff-coordinates' and 'wyckoff-species'."
  }
  "wyckoff-coordinates" {
    "type"         "float"
    "has-unit"     false
    "extent"       [":",3]
    "required"     false
    "description"  "Coordinates of the Wyckoff sites needed to generate the starting cubic crystal lattice, given as fractions of the crystal lattice vectors.  The order of elements in this array must correspond to the order of the entries listed in 'wyckoff-multiplicity-and-letter' and 'wyckoff-species'."
  }
  "wyckoff-species" {
    "type"         "string"
    "has-unit"     false
    "extent"       [":"]
    "required"     false
    "description"  "The element symbol of the atomic species of the Wyckoff sites used to describe the starting cubic crystal structure.  The order of the entries must correspond to the order of the entries in 'wyckoff-coordinates' and 'wyckoff-multiplicity-and-letter'."
  }
  "melting-temperature" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description" "Melting temperature of the cubic equilibrium crystal structure at the specified hydrostatic stress state."
  }
  "cauchy-stress" {
    "type"         "float"
    "has-unit"     true
    "extent"       [6]
    "required"     true
    "description"  "The [xx,yy,zz,yz,xz,xy] (i.e. [11,22,33,23,13,12]) components of the Cauchy stress acting on the system.  Does not descriminate between stress in the liquid and stress in the solid. The orthonormal basis used to express the stress should be aligned with the cubic 4-fold axes of the crystal and the expected form of the stress tensor should be [d d d 0 0 0], where d > 0 indicates tensile stress."
  }
}
